
<div class="appliance row"> 
    <% @appliances.each do |appliance| %>
        <div class="col s4 ">
            <div class="card ">
                <div class="card-image">
                        <%= link_to appliance_path(appliance) do %>
                            <%= image_tag appliance.image %>
                        <% end %>
                    <div class="card-content">
                       <p class="cc"><%= appliance.name %></p>
                    </div>
                </div>
            </div>
        </div>
    <%end %>
</div>

