/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Times New Roman", Times, serif;
}
.notice {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: green;
}

.alert {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(235, 0, 0);
}
.sign-up {
  color: rgb(128, 128, 128);
  font-size: 40px;
}
h2 {
  color: rgb(128, 128, 128);
  font-size: 40px;
}
h3 {
  color: rgb(128, 128, 128);
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
nav {
  height: 80px;
  line-height: 80px;
}

/* .card {
  display: flex;
} */
img {
  /* display: block;
  margin-left: 70px;
  padding-bottom: 30px;
  margin-right: auto;  */
  /* height: 400px;
  width: 100px; */
}

.details {
  /* text-align: center; */
  margin-left: 60px;
  padding-bottom: 20px;
}

.borrow-btn {
  margin-left: 70px;
  padding-bottom: 20px;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: relative;
  opacity: 1;
  pointer-events: none;
}

/* .user-det {
  margin: auto;
  width: 50%;
  border: 1px solid #000000;
  padding: 10px;
} */
.new-app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  margin-top: 30px;
  margin-left: 190px;
  margin-bottom: 30px;
}

.sign {
  margin-left: 80px;
}

.edi-rem {
  margin-left: 30px;
}
